/* #ddeedd */

body {
    max-width: 860px;
    margin: 0 auto;
    background-color: #c2d4dd;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: inline-flex;
}

li {
    display: inline;
}

.aboutme-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(250px, auto);
    gap: 1rem;
}

.aboutme-div {
    background-color: #f0efef;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    gap: 1rem;
}

#beethoven {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#paws {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#sbg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#readathon {
    grid-column-start: 3;
    grid-row-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.project {
    background-color: #b0aac0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1rem;
}

.skill {
    background-color: #f0efef;
}

.contact-info {
    background-color: #ddeedd;
}

.project, .skill, .aboutme-div, .contact-info {
    padding: 1rem;
    border-radius: .3rem;
}

video {
    width: 100%;
}

iframe {
    width: 100%;
    height: 20rem;
}
